body .sidebar-expand-handler {
  display: none;
}

body.sidebar-xs {
  @media (min-width: map-get($grid-breakpoints, "md")) {
    .navbar {
      padding-left: 0;
    }
  }
  .navbar-brand {
    display: none;
  }

  .sidebar-collapse-handler {
    display: none;
  }
  .sidebar-expand-handler {
    display: block;
  }
}
